.l-container {
  width: 100%;
  height: 100%;
  flex: 1;

  &--content {
    padding: 50px;
    padding-bottom: 80px;
  }


  &--wrapper {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;

    @include mq(md) {
      padding-left: $space_xl;
      padding-right: $space_xl;
    }

    @include mq(sm) {
      padding-left: 0;
      padding-right: 0;
    }

    &--auth {
      padding-top: 150px; 
    }

    &--center {
      text-align: center;
    }

    &--search {
      padding-top: 80px;
      padding-left: 50px;
      padding-right: 50px;
      // padding-bottom: 80px;
    }

  }

  &--wrapperList {
    // padding-top: 50px;
    // padding-left: 100px;
    // padding-right: 100px;
    // padding-bottom: 150px;

    @include mq(md) {
      padding-left: $space_xl;
      padding-right: $space_xl;
    }

    @include mq(sm) {
      padding-left: 0;
      padding-right: 0;
    }

  }

  &--tag {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;

    @include mq(md) {
      padding-left: $space_xl;
      padding-right: $space_xl;
    }

    @include mq(sm) {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &--title {
    padding-top: 150px;
    // padding-left: 100px;
    // padding-right: 100px;
    margin-bottom: 20px;
    
    &--tag {
      display: inline-block;
      font-family: $font-family_title;
      margin-bottom: $space_xl;
    }

    &--recruit {
      width: 60%;
    }

  }

  &--layout {
      width: 60%;
      margin: 0 auto;
      color: $font-color_black;

      &--lg {
        width: 70%;
        margin: 0 auto;     
        color: $font-color_black;
      }

      &--80 {
        width: 80%;
        margin: 0 auto;
        color: $font-color_black;
      }

      &--bg {
        width: 90%;
        margin: 0 auto;
        color: $font-color_black;
      }
  }

  &--border {
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: $space_xxl $space_xxxl;
  }
  &--flexstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &--flexbetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &--flexstart::after {
    content: '';
    width: 49%;
    display: block;
  }

  &--box {
    justify-content: center;
  }

  &--form {
    width: 50%;
    margin: 0 auto;

    @include mq(lg) {
      width: 80%;
    }

    @include mq(md) {
      width: 75%;
    }

    @include mq(sm) {
      width: 80%;
    }
  }

  &--postForm {
    display: flex;
    justify-content: center;
  }

  &--mypage {
    width: 60%;
    margin: 0 auto;

    @include mq(lg) {
      width: 100%;
    }

    @include mq(md) {
      width: 100%;
    }

    @include mq(sm) {
      width: 100%;
    }
  }

  &--follow {
    width: 35%;
    text-align: center;
    margin: 0 auto;

    @include mq(lg) {
      width: 75%;
    }

    @include mq(md) {
      width: 90%;
    }

    @include mq(sm) {
      width: 100%;
      padding-left: $space_m;
      padding-right: $space_m;
    }
  }

  &--tags {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @include mq(sm) {
      width: 90%;
    }
  }
}

