version: 2.1
jobs:
  build:
    docker:
      - image: circleci/php:7.4-node-browsers
      - image: circleci/mysql:5.7
        environment:
          MYSQL_DATABASE: glass_house
          MYSQL_USER: admin
          MYSQL_PASSWORD: password
    environment:
      APP_ENV: testing
      DB_CONNECTION: mysql
      DB_HOST: localhost
      DB_PORT: 4306
      DB_DATABASE: glass_house
      DB_USERNAME: admin
      DB_PASSWORD: password

    working_directory: /home/circleci/var/www/html/laravel
    steps:
      - checkout
      - run:
          name: Mysql install extension  
          command: | 
            sudo apt-get update
            sudo docker-php-ext-install pdo_mysql
            sudo apt-get install libpq-dev
            dockerize -wait tcp://localhost:3306 -timeout 1m
      - run: sudo composer self-update --1 
      - restore_cache:
          key: composer-v1-{{ checksum "laravel/composer.lock"}}
      - run:
          working_directory: laravel 
          command: composer install -n --prefer-dist
      - save_cache: 
          key: composer-v1-{{ checksum "laravel/composer.lock"}}
          paths: 
            - vendor
      - restore_cache:
          key: npm-v1-{{ checksum "laravel/package-lock.json" }}
      - run: 
          name: npm ci
          working_directory: laravel 
          command: |
            if [ ! -d node_modules ]; then
              npm ci
            fi 
      - save_cache:
          key: npm-v1-{{ checksum "laravel/package-lock.json" }}
          paths:
            - node_modules
      - run: 
          working_directory: laravel 
          command: npm run dev
      - run:
          name: php test
          working_directory: laravel 
          command: vendor/bin/phpunit