version: 2.1
jobs:
  build:
    working_directory: ~/var/www/html/
    docker:
      - image: circleci/php:7.4-node-browsers
    steps:
      - checkout
      - run: sudo composer self-update --1 
      - run:
          working_directory: laravel 
          command: composer install -n --prefer-dist
      - run: 
          working_directory: laravel 
          command: npm ci
      - run: 
          working_directory: laravel 
          command: npm run dev
      - run:
          name: php test
          working_directory: laravel
          command: ./vendor/bin/phpunit