version: 2.1
jobs:
  build:
    docker:
      - image: circleci/php:7.4-node-browsers
    working_directory: ~/var/www/html/laravel
    steps:
      - checkout
      - run: sudo composer self-update --1 
      - restore_cache:
          key: composer-v1-{{ checksum "composer.lock"}}
      - run:
          working_directory: laravel 
          command: composer install -n --prefer-dist
      - save_cache: 
          key: composer-v1-{{ checksum "composer.lock"}}
          paths: 
            - vendor
      - run: 
          working_directory: laravel 
          command: npm ci
      - run: 
          working_directory: laravel 
          command: npm run dev
      - run:
          name: php test
          working_directory: laravel
          command: ./vendor/bin/phpunit