.c-button {
  border: none;
  padding: 15px $space_l;
  &:focus {
    outline: 0;
  }

  & a {
    display: block;
  }

  &--submit {
    display: block;
    background-color: $background-color_button01;
    color: $font-color_default;
    margin: 0 auto;
    border-radius: 5px;
    font-size: $font-size_l;
    margin-top: $space_4l;
    width: 50%;
    outline: none;
    cursor: pointer;
    &:hover {
      color: black;
      background-color: rgb(236, 201, 86);
      transition: 0.5s;
      opacity: 0.8;
    }

    

    &--search {
      margin-left: $space_l;
      display: inline-block;
      width: 100px;
    }

    @include mq(sm) {
      width: 80%;
    }
  }

  &--guest {
      display: block;
      background-color: $background-color_guest;
      margin: 0 auto;
      font-size: $font-size_l;
      margin-top: $space_4l;
      width: 30%;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      &:hover {
        color: black;
        background-color: rgb(236, 201, 86);
        transition: 0.5s;
        opacity: 0.8;
      }
    }

  &--profileEdit {
    text-align: center;
    border-radius: 50px;
    background-color: $background-color_button02;
    font-size: $font-size_xl;
    border: none;
    outline: none;
    margin-top: $space_xl;

    @include mq(sm) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &--heart {
    border: none;
    outline: none;
    background: transparent;

    &:focus {
      outline: 0;
    }
  }

  &--follow {
    padding: $space_m $space_xl;
    width: 150px;
    margin-right: $space_m;
    border-radius: 5px;
    outline: none;

    &--before {
      background-color: $background-color_follow_before;
      color: black;
    }

    &--after {
      background-color: $background-color_follow_after;
      color: white;
    }

    @include mq(sm) {
      padding: 15px $space_xl;
    }
  }

  &--review {
    background-color: $background-color_button01;
    width: 200px;
    margin-top: $space_l;
    border-radius: 5px;

    @include mq(sm) {
      display: block;
      text-align: center;
      width: 90%;
      margin: 0 auto;
      font-size: 24px;
    }
  }

  &--message {
    display: block;
    border: none;
    background-color: $background-color_button01;
    color: #fff;
    padding: $space_m $space_l;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: rgb(251, 5, 5);
      transition: 0.5s;
      opacity: 0.8;
    }
  }

  &--like {
    border: none;
    display: inline-block;
    box-shadow: 2px 2px 2px rgb(204, 202, 202);
    margin-bottom: $space_l;
    border-radius: 20px;
    &:focus {
      outline: none;
    }
  }

  &--before {
    padding: $space_s $space_xl;
    background-color: $backgorund-color_like_before;
  }
  &--active {
    border: none;
    padding: $space_s 48px;
    color: rgb(255, 255, 255);
    background-color: $backgorund-color_like_active;
    
    box-shadow: 2px 2px 2px;
  }
}