.c-form {
  text-align: center;
  outline: none;

  &--container {
    text-align: center;
  }

  &--title {
    margin-bottom: $space_xxxl;
    font-family: $font-family_title;
  }

  &--required {
    margin-left: $space_m;
    background-color: $background-color_required;
    padding: 2px $space_s;

    &--review {
      font-weight: normal;
      color: $font-color_default;
    }
  }

  &--any {
    margin-left: $space_m;
    background-color: $background-color_any;
    padding: 2px $space_s;
  }

  &--control {
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: $space_m $space_m;
    margin-bottom: $space_xl;
    outline: none;
    background-color: white;
    border: none;
    &--select {
      width: 20%;
    }
  }

  &--link {
    text-align: center;
    margin-top: $space_l;
    a {
      color: $font-color_default;
      &:hover{
        color: $font-color_sub03;
      }
    }
    
  }
  &--radius {
    border-radius: 5px;
  }

  &--imageBox {
    text-align: center;
    margin: 0 auto;
    margin-top: $space_l;
    margin-bottom: $space_xxl;
    width: 300px;
    height: 300px;
    background-color: $background-color_preview;
    display: flex;
    align-items: center;
    position: relative;
    @include mq(sm) {
      width: 100%;
    }
  }

  &--preview {
    width: 100%;
    height: 300px;
  }

  &--plus {
    position: relative;
    top: 125px;
    color: $font-color_black;
  }
  &--img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    &--radius{
      border-radius: 50%;
    }
    &--none {
      display: none;
    }
  }

  &--input {
    display: none;
  }
}