.c-form {
  text-align: center;
  outline: none;

  &--container {
    text-align: center;
  }

  &--title {
    margin-bottom: $space_xxxl;
    font-family: $font-family_title;
  }

  &--control {
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: $space_m $space_m;
    margin-bottom: $space_xl;
    outline: none;
    background-color: white;
    border: none;
    &--select {
      width: 20%;
    }
  }

  &--link {
    text-align: center;
    margin-top: $space_l;
    a {
      color: $font-color_default;
      &:hover{
        color: $font-color_sub03;
      }
    }
    
  }

  &--radius {
    border-radius: 5px;
  }
}