.c-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;

  &--content {
    margin: 0 auto;
    padding: 40px;
  }

  &--bg {
    background-color: rgba(0, 0, 0, 0.493);
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  &--display {
    background-color: #fff;
    color: black;
    padding: 40px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    @include mq(sm) {
      width: 75%;
      padding: $space_l $space_m;
    }
  }

  &--select {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: $space_xl;
  }

  &--title {
    text-align: center;
    font-size: $font-size_l;
    @include mq(sm) {
      font-size: $font-size_18;
    }
  }

  &--select {
    text-align: center;
  }

  &--delete {
    padding: $space_m $space_l;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    @include mq(sm) {
      font-size: $font-size_default;
    }
    &:focus {
      outline: 0;
    }
    &:hover {
      transition: 0.5s;
      background-color: rgba(245, 19, 19, 0.644);
    }
  }

  &--cancel {
    padding: $space_m $space_l;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 5px;
    &:hover {
      transition: 0.5s;
      color: #fff;
      background-color: rgba(14, 13, 13, 0.623);
    }
  }

}