.c-search {
  &--box {
    @include mq(sm) {
      position: relative;
    }
    &--job {
      text-align: end;
      margin-right: 30px;
    }
  }

  &--tag {
    @include mq(sm){
      position: absolute;
      left: 290px;
      bottom: 30px;
      
    }
  }
  &--category {
    @include mq(sm) {
      position: absolute;
      left: 320px;
      bottom: 30px;
    }
    &--job {
      @include mq(sm) {
        
      }
    }

    &--icon {
      display: none;
      @include mq(sm) {
        display: inline;
        background-color: $font-color_sub03;
        padding: 10px;
        border-radius: 10px;
        position: fixed;
        color: $font-color_default;
      }
    }
  }

  &--modal {
    display: block;
    @include mq(sm) {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.493);
      z-index: 7;
    }
    &.open {
      display: block;
      cursor: pointer;
    }
    &--open {
      display: none;
      @include mq (sm) {
        display: block;
        cursor: pointer;
      }
    }
    // &--js{
    //   &.none {
    //     display: none;
    //   }
    // }
    &.active {
      @include mq(sm) {
        display: block;
      }
    }
    &--bg {
      @include mq(sm) {
        background-color: transparent;
        position: absolute;
        width: 100%;
      }
    }
    &--display {
      @include mq(sm) {
        padding-top: 100px;
        height: 100vh;
        z-index: 4;
      }
    }
    
  }

}