.c-user {

  &--image {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    @include mq(sm) {
      width: 30px;
      height: 30px;
    }

    &--sm {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &--md {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    &--lg {
      width: 300px;
      height: 300px;
      border-radius: 50%;

      @include mq(sm) {}
    }
  }

  &--box {
    // text-align: center;
  }

  &--photo {
    text-align: center;
    margin-top: $space_m;
  }

  &--name {
    font-weight: bold;
    text-align: center;
    @include mq(sm) {
      font-size: $font-size_default;
      padding-left: $space_s;
    }

    &--lg {
      text-align: center;
      font-size: $font-size_xl;
      margin-top: $space_l;
      margin-bottom: $space_l;
    }
  }

  &--review {
    text-align: center;
    margin-top: $space_m;
  }

  &--intro {
    padding: $space_xxl $space_xxl;
    border-bottom: 2px solid rgb(148, 146, 146);
    margin-left: $space_xxl;
    margin-right: $space_xxl;
  }

  &--like {
    text-align: center;
    margin-top: $space_m;
  }

  &--apply {
    text-align: center;
    
  }

  &--feature {
    padding: $space_xxl $space_xxl;
    border-bottom: 2px solid rgb(148, 146, 146);
    margin-left: $space_xxl;
    margin-right: $space_xxl;
  }

  &--Container {
    display: flex;
    margin-bottom: $space_l;
  }

  &--featureTitle {
    font-weight: bold;
    width: 200px;
  }

  &--featureArea {
    display: flex;
    flex-flow: wrap;
    width: 70%;
    margin: 0 auto;
  }

  &--categoryName {
    border: 1px solid black;
    padding: $space_s $space_m;
    margin-right: $space_l;
    border-radius: 10px;
  }


  &--reviewArea {
    padding: $space_xxl $space_xxl;
  }

  &--reviewContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  &--card {
    margin-bottom: $space_xxxl;
    margin-right: $space_xl;
    margin-left: $space_xl;
    width: 44%;
    background-color: beige;
    border-radius: 10px;
    padding: $space_l;
  }

  &--member {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &--myName {
    font-weight: bold;
  }

  &--reviewContainer {
    padding: $space_l $space_xxl;

  }

  &--title {
    font-weight: bold;
    margin-top: $space_l;
  }




  &--avator {
    text-align: center;
  }

  &--follows {
    margin: $space_xl auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(sm) {
      width: 60%;
    }
  }

  &--followsList {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-left: $space_xl;
    width: 500px;

    @include mq(sm) {
      width: 100%;
      margin-left: 0;
    }

  }

  &--followList {
    width: 100px;
    @include mq(sm) {
      width: 100%;
      font-size: $font-size_14;
    }
  }

  &--followerList {
    width: 100px;
    margin-right: $space_xxl;
    @include mq(sm) {
      width: 100%;
      margin-right: $space_m;
      font-size: $font-size_14;
    }
  }

  &--myProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: $space_xl;
  }

  &--postProduct {
    padding: $space_m $space_l;
    border-bottom: 4px solid black;
  }

  &--myFavorite {
    padding: $space_m $space_l;
  }
}