.c-user {

  &--image {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    @include mq(sm) {
      width: 90px;
      height: 90px;
    }

    &--mini {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    &--sm {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      @include mq(sm) {
        width: 90px;
        height: 90px;
      }
    }

    &--md {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    &--lg {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  }

  &--photo {
    text-align: center;
    margin-bottom: $space_l;
  }

  &--name {
    font-weight: bold;
    text-align: center;
    @include mq(sm) {
      font-size: $font-size_default;
      padding-left: $space_s;
    }

    &--lg {
      text-align: center;
      font-size: $font-size_xl;
      margin-top: $space_l;
      margin-bottom: $space_l;
    }
  }

  &--review {
    margin-top: $space_m;
    margin-bottom: $space_m;

    &--center {
      text-align: center;
    }
  }

  &--profile {
    text-align: center;
    border: none;
    background: rgb(207, 202, 202);
    width: 200px;
    margin: 0 auto;
  }

  &--detail {
    overflow-wrap: break-word;
    word-break: break-all;
  }

  &--edit {

    & a {
      display: block;
      padding: $space_m $space_l;
      &:hover {
        transition: 0.5s;
        background-color: rgba(75, 75, 75, 0.507);
        color: rgb(0, 0, 0);
      }
    }
  }

  &--intro {
    padding: $space_xxl $space_xxl;
    border-bottom: 2px solid rgb(148, 146, 146);
    line-height: 1.7;
    margin-left: $space_xxl;
    margin-right: $space_xxl;
    @include mq(sm) {
      padding: $space_m $space_m;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--body {
    line-height: 1.8;
  }

  &--clamp {
    display: -webkit-box;
    line-height: 1.5;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &--like {
    text-align: center;
    margin-top: $space_m;
  }

  &--apply {
    text-align: center;
    
  }

  &--feature {
    padding: $space_xxl $space_xxl;
    border-bottom: 2px solid rgb(148, 146, 146);
    margin-left: $space_xxl;
    margin-right: $space_xxl;
    @include mq(sm) {
      padding: $space_m $space_m;
      margin-left: 0;
      margin-right: 0;
    }
    &--profile {
      padding: $space_xxl $space_l;
    }
  }

  &--featureBody {
    line-height: 1.7;
  }

  &--Container {
    display: flex;
    margin-bottom: $space_xxl;
    @include mq(sm) {
      display: block;
    }
  }

  &--featureTitle {
    font-weight: bold;
    width: 200px;
    @include mq(sm){
      width: 100%;
      text-align: center;
    }
  }

  &--featureArea {
    display: flex;
    flex-flow: wrap;
    width: 70%;
    margin: 0 auto;
    @include mq(sm) {
      display: block;
      
      margin: $space_m auto;
    }
  }

  &--featureImage {
    @include mq(sm) {
      display: block;
      margin: 20px auto;
    }
  }

  &--featureName {
    @include mq(sm) {
      display: block;
      text-align: center;
    }
  }

  &--categoryName {
    display: inline-block;
    border: 1px solid black;
    padding: $space_s $space_m;
    text-align: center;
    margin: $space_m 0;
  }


  &--reviewArea {
    padding: $space_xxl $space_xxl;
    @include mq(sm) {
      padding-left: $space_m;
      padding-right: 0;
    }
  }

  &--reviewContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: $space_l 0;
  }

  &--card {
    margin-bottom: $space_xxxl;
    margin-right: $space_xl;
    margin-left: $space_xl;
    width: 42%;
    background-color: beige;
    border-radius: 10px;
    padding: $space_l;
    @include mq(sm) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &--member {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &--myName {
    font-weight: bold;
  }

  &--title {
    font-weight: bold;
    margin-top: $space_l;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  
  &--input {
    background-color: #f9fafb;
    width: 100%;
    border: 1px solid #f9fafb;
    padding: $space_m;
    border-radius: 5px;
  }

  &--text {
    background-color: #f9fafb;
    width: 100%;
    height: 200px;
    border: 1px solid #f9fafb;
    padding: $space_m;
    border-radius: 5px;
  }

  &--professional {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    word-break: break-all;

    &--category {
      // display: inline-block;
      text-align: center;
    }
  }
  &--category {
    display: inline-block;
    white-space: nowrap;
    font-size: $font-size_14;
    border: 1px solid black;
    padding: $space_s $space_s;
    margin-right: $space_m;
  }

  &--tag {
    display: inline-block;
  }

  &--avator {
    text-align: center;
  } 

  &--myProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: $space_xl;
  }

  &--postProduct {
    padding: $space_m $space_l;
    border-bottom: 4px solid black;
  }

  &--myFavorite {
    padding: $space_m $space_l;
  }

  &--date {
    text-align: end;
    font-weight: bold;
    &--review {
      text-align: end;
    }
  }

  &--datetime {
    text-align: end;
    @include mq(sm) {
      font-size: $font-size_m;
    }
  }
}