.p-card {
  margin-top: $space_l;
  margin-bottom: $space_l;
  @include mq(sm) {
    margin-top: 80px;
  }

  &--job {
    margin-top: $space_l;
    margin-bottom: $space_l;
    @include mq(sm) {
      margin-top: 80px;
      margin-right: 20px;
      margin-left: 20px;
    } 
  }

  &--area {
    border: none;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 50px 20px;
    box-shadow: 2px 2px 2px  rgb(143, 143, 143);
    margin-bottom: $space_xxl;
    @include mq(sm) {
      padding: 30px 0px;
    }
    &--job {
      border: none;
      background-color: white;
      width: 100%;
      border-radius: 5px;
      padding: 50px 20px;
      box-shadow: 2px 2px 2px  rgb(143, 143, 143);
      margin-bottom: $space_xxl;
      @include mq(sm) {
        padding: 30px 0px;
        width: 300px;
        margin: 0 auto;
      }
    }
  }

  &--content {
    display: flex;
    width: 100%;
    @include mq(sm) {
      display: block;
    }
  }

  &--body {
    margin-left: $space_xxl;
    margin-right: $space_xxl;
  }

  &--photo {
    @include mq(sm) {
      text-align: center;
    }
  }

  &--box {
    margin-left: $space_xxl;
    margin-right: $space_xxl;
    width: 70%;
    @include mq(sm){
      margin-left: 0;
      margin-right: 0;
      padding-right: $space_l;
      padding-left: $space_l;
      width: 100%;
    }
    &--mypage {
      width: 100%;
    }
  }

  &--title {
    margin-bottom: $space_xl;
    font-weight: bold;
    display: inline-block;
    @include mq(sm) {
      font-size: $font-size_18;
      margin-top: $space_l;
      margin-bottom: $space_l;
    }
  }

  &--paragragh {
    border-bottom: 2px solid rgb(158, 158, 158);
    line-height: 2.5;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &--userName {
    font-weight: bold;
  }

  &--right {
    width: 220px;
    text-align: center;
    @include mq(sm) {
      width: 100%;
      margin-top: $space_l;
    }
  }

  &--apply {
    display: inline-block;
    border: none;
    background-color: $background-color_button01;
    color: #fff;
    padding: $space_m $space_l;
    margin-bottom: $space_l;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: rgb(251, 5, 5);
      transition: 0.5s;
      opacity: 0.8;
    }
  }

  &--tabArea {
    display: flex;
    margin-bottom: $space_xxxl;
    @include mq(sm){
      justify-content: center;
    }
  }

  &--tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    list-style-type: none;
    border-radius: 10px;
    padding-left: 0;
    color: #fff;
    @include mq(sm) {
      width: 300px;
      flex-wrap: wrap;
    }
    & a {
      color: #fff;
    }

    &__active {
      background-color: rgb(255, 0, 0) !important;
    }
  }

  &--button {
    width: 23%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    @include mq(sm) {
      font-size: $font-size_m;
      width: 125px;
      margin-bottom: 10px;
    }
    
    & a {
      display: block;
      padding: $space_l $space_s;  
      border-radius: 5px;
    }
    & a:hover {
        transition: 0.5s;
        background-color: rgb(255, 0, 0)
    }
  }

  
  &--tag a {
    background-color: transparent;
    border: 1px solid rgb(114, 113, 109);
    color: rgb(0, 0, 0);
    padding: $space_s $space_m;
    margin-top: $space_m;
    margin-right: 4px;
    border-radius: 20px;
    font-size: $font-size_14;
  }

  &--tag a:hover {
    transition: 0.5s;
    color: rgb(2, 26, 243);
  }

  &--date {
    display: inline-block;
    margin-top: $space_l;
    font-weight: bold;
  }

  &--nodata {
    color: $font-color_default;
    text-align: center;
  }

  &--detail {
    &--mypage {
      @include mq(sm) {
        text-align: center;
      }
    }
  }
}