.p-card {
  margin-top: $space_l;
  margin-bottom: $space_l;


  &--area {
    border: none;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 50px 20px;
    box-shadow: 2px 2px  rgb(202, 202, 202);
    margin-bottom: $space_xxl;
  }

  &--content {
    display: flex;
    width: 100%;
  }

  &--body {
    margin-left: $space_xxl;
    margin-right: $space_xxl;
  }

  &--box {
    margin-left: $space_xxl;
    margin-right: $space_xxl;
    width: 75%;
    &--mypage {
      width: 100%;
    }
  }

  &--title {
    margin-bottom: $space_xl;
    font-weight: bold;
    display: inline-block;
  }

  &--paragragh {
    border-bottom: 2px solid rgb(158, 158, 158);
    line-height: 2.5;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &--userName {
    font-weight: bold;
  }

  &--right {
    width: 220px;
    text-align: center;
  }

  &--apply {
    display: inline-block;
    border: none;
    background-color: $background-color_button02;
    color: #fff;
    padding: $space_m $space_l;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: rgb(194, 178, 173);
      transition: 0.5s;
      opacity: 0.8;
    }
  }

  &--tabArea {
    display: flex;
    margin-bottom: $space_xxxl;
  }

  &--tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    list-style-type: none;
    border-radius: 10px;
    padding-left: 0;
    color: #fff;
    & a {
      color: #fff;
    }

    &__active {
      background-color: rgb(255, 0, 0) !important;
    }
  }

  &--button {
    width: 23%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    
    & a {
      display: block;
      padding: $space_l $space_s;  
      border-radius: 5px;
    }
    & a:hover {
        transition: 0.5s;
        background-color: rgb(255, 0, 0)
    }
  }

  
  &--tag a {
    background-color: transparent;
    border: 1px solid rgb(114, 113, 109);
    color: rgb(0, 0, 0);
    padding: $space_s $space_m;
    margin-top: $space_m;
    margin-right: 4px;
    border-radius: 20px;
    font-size: $font-size_14;
  }

  &--tag a:hover {
    transition: 0.5s;
    color: rgb(2, 26, 243);
  }

  &--date {
    display: inline-block;
    margin-top: $space_l;
    font-weight: bold;
  }
}