.p-comment {

  &--right {
    display: flex;
    justify-content: flex-end;
  }

  &--left {
    display: flex;
    justify-content: flex-start;
  }

  &--name {
    margin-left: $space_m;
    margin-top: $space_m;
  }

  &--details {
    // width: 50%;
    padding: 20px 20px 10px;
    border-radius: 0 10px 10px 10px;
    margin-left: $space_l;
    margin-bottom: $space_xxl;
    word-break: break-all;
    overflow-wrap: break-word;
    &--right {
      background-color: #78f878;
      margin-left: 45%;
      @include mq(sm) {
        margin-left: 0;
      }
    }
    &--left {
      background-color: #ededed;
      margin-right: 45%;
      @include mq(sm) {
        margin-right: 0;
      }
    }
  }

  &--text {
    background-color: #f9fafb;
    width: 100%;
    height: 100%;
    border: 1px solid #f9fafb;
    border-radius: 5px;
    padding: $space_m $space_m;
  }

  &--date {
    font-size: $font-size_m;
    text-align: end;
  }

  &--button {
    margin-top: $space_xxl;
  }

  &--message {
    @include mq(sm) {
      font-size: $font-size_14;
    }
  }
}