.p-home {

  &--main {
    width: 100%;
    height: 800px;
    background-image: url('./img/zoom.sample03.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    @include mq(xl) {
      height: 1000px;
    }
    @include mq(sm) {
      height: 50vh;
      width: 100%;
      background-position: 60%;
      background-size: cover
    }
  }

  &--main-pc-title {
    padding-top: 200px;
    padding-left: 100px;
    color: #ffffff;
    display: inline-block;
    font-family: $font-family_main_title;

    @include mq(xl) {
      padding-left: 150px;
    }
    @include mq(sm) {
      padding-left: 0;
      padding-top: 150px;
      width: 100%;
    }
  }

  &--main-sp-title {
      display: none;
    @include mq(sm) {
      color: #ffffff;
      display: inline-block;
      font-family: $font-family_main_title;
      line-height: 2.0;
      margin-left: $space_l;
    }
  }

  &--pc-title {
    text-align: center;
    margin-bottom: $space_xl;
    @include mq(sm) {
      display: none;
    }
  }

  &--sp-title {
    display: none;
    @include mq(sm) {
      font-size: $font-size_18;
      margin-bottom: $space_l;
      display: block;
    }
  }

  &--buttonTop {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    @include mq(sm) {
      display: flex;
      justify-content: space-between;
      width: 300px;
      text-align: center;
      margin-top: 0;
      display: none;
    }
  }

  &--login {
    font-size: $font-size_24;
    margin-right: 10%;
    border: none;
    background-color: $backgorund-color_login;
    border-radius: 5px;
    @include mq(sm) {
      font-size: $font-size_default;
      margin-right: 0;
    }
  }

  &--register {
    font-size: $font-size_24;
    border: 1px solid $backgorund-color_register;
    border-radius: 5px;
    @include mq(sm) {
      font-size: $font-size_default;
    }
  }

  &--link {
    color: $font-color_default;
    display: block;
    padding: $space_l $space_xl;
    &:hover {
      color: $font-color_default;
      transition: 0.5s;
      background-color: rgba(255, 255, 255, 0.568);
      border-radius: 5px;
    }
    @include mq(sm) {
      font-size: $font-size_default;
    }
  }

  &--register {
    font-size: $font-size_24;
  }

  &--contentsTitle {
    padding-top: 60px;
    text-align: center;
    &--link {
      padding-top: 100px;
      @include mq(sm) {
        padding-top: 20px;
      }
    }
  }

  &--anker{
      margin-top: -100px;
      @include mq(sm) {
        margin-top: -50px;
        padding-top: 60px;
        
      }
  }

  &--paragraph {
    margin-top: $space_xxl;
    font-size: 18px;
    line-height: 1.9;
    @include mq (sm) {
      padding-right: 20px;
      padding-left: 20px;
      text-align: left;
    }
  }

  &--contents {
    display: flex;
    justify-content: space-around;
    padding: 80px 100px;
    margin-bottom: 100px;
    @include mq(lg) {
      padding: $space_xxxl;
    }

    @include  mq(md) {
      padding: $space_xxxl;
    }

    @include mq(sm) {
      display: block;
      padding: $space_l ;
      padding-top: 70px;
    }
  }

  &--panel {
    width: 350px;
    @include mq(lg) {
      width: 250px;
    }
    @include mq(md) {
      width: 180px;
    }
    @include mq(sm) {
      width: 300px;
      margin: 0 auto;
    }
  }

  &--head {
    width: 300px;
    height: 200px;
    @include mq(lg) {
      width: 250px;
    }
    @include mq(md) {
      width: 180px;
    }
    @include mq(sm) {
      width: 300px;
    }

    & img {
      width: 350px;
      height: 200px;
      @include mq(lg) {
        width: 250px;
      }
      @include mq(md) {
        width: 180px;
      }
      @include mq(sm) {
        width: 300px;
      }
    }
  }

  &--body {
    padding-top: $space_l;
    line-height: 2.5;
  }

  &--top {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &--howto {
    background-color: #ffffff;
    color: $font-color_black;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    @include mq(sm) {
      margin-left: $space_l;
      margin-right: $space_l;
    }
    &--area {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      @include mq (xl) {
        padding-left: 10%;
        padding-right: 10%;
      }
      @include mq(sm) {
        padding-left: $space_l;
        padding-right: $space_l ;
      }
    }
    &--content {
      margin-bottom: 80px;
    }
    &--title {
      font-weight: bold;
      margin-bottom: 60px;
      @include mq(sm) {
        font-size: $font-size_24;
        margin-bottom: 40px;
      }
    }
    &--use {
      margin: 0 auto;
      margin-bottom: 80px;
    }
    &--head {
      font-size: $font-size_xxl;
      font-weight: bold;
      margin-bottom: $space_xxl;
      color: $font-color_black;
      padding: 0.5em 0;/*上下の余白*/
      border-top: solid 3px $font-color_black;
      border-bottom: solid 3px $font-color_black;
      @include mq(sm) {
        font-size: $font-size_20;
        margin-top: $space_xxl;
      }
      
    }
    &--body {
      font-size: $font-size_18;
      line-height: 2.0;
      @include mq(sm) {
        font-size: $font-size_default;
        text-align: left;
        line-height: 1.6;
      }
    }
  }

  &--card {
    display: flex;
    align-items: center;
    @include mq(sm) {
      display: block;
    }
    &--reverse {
      display: flex;
      align-items: center;
      flex-flow: row-reverse;
      @include mq(sm) {
        display: block;
      }
    }
  }

  &--screen {
    text-align: left;
    overflow: hidden;
    transform: skewY(-10deg);
  }

  &--image {
    width: 500px;
    height: 400px;
    transform: skewY(10deg);
    @include mq(sm) {
      width: 300px;
      height: 250px;
    }

    @include mq(xl) {
      width: 700px;
      height: 400px;
    }
  }

  &--message {
    margin-bottom: $space_xxl;
  }

  &--pr {
    line-height: 2.5;
    @include mq(sm) {
      font-size: $font-size_20;
    }
  }


  &--free {
    font-size: 18px;
    background-color: black;
    border-radius: 5px;
    width: 250px;
    margin:  0 auto;
  }
}