.p-home {

  &--main {
    width: 100%;
    height: 800px;
    background-image: url('./img/zoom.sample03.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    @include mq(sm) {
      height: 600px;
      display: flex;
      align-items: center;
    }
  }

  &--mainTitle {
    padding-top: 200px;
    padding-left: 150px;
    color: #ffffff;
    display: inline-block;
    font-family: $font-family_main_title;

    @include mq(lg) {
      padding-top: 200px;
    }
    @include mq(md) {
      padding-left: 50px;
    }
    @include mq(sm) {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 100px;
      width: 100%;
    }
  }

  &--buttonTop {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
  }

  &--login {
    font-size: $font-size_24;
    margin-right: 10%;
    background-color: $backgorund-color_login;
    border-radius: 5px;
  }

  &--register {
    border: 1px solid $backgorund-color_register;
    border-radius: 5px;
  }

  &--link {
    color: $font-color_default;
    display: block;
    padding: $space_l $space_xl;
    &:hover {
      color: $font-color_default;
      transition: 0.5s;
      background-color: rgba(255, 255, 255, 0.568);
    }
  }

  &--register {
    font-size: $font-size_24;
  }

  &--title {
    text-align: center;
    margin-bottom: $space_xl;
  }

  &--contentsTitle {
    padding-top: $space_xxxl;
    text-align: center;
  }

  &--paragraph {
    margin-top: $space_xxl;
    font-size: 18px;
    line-height: 1.9;
    @include mq (sm) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &--contents {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 150px;
    @include mq(lg) {
      padding: $space_xxxl;
    }

    @include  mq(md) {
      padding: $space_xxxl;
    }

    @include mq(sm) {
      display: block;
      padding: $space_l ;
    }
  }

  &--panel {
    width: 300px;
    @include mq(lg) {
      width: 250px;
    }
    @include mq(md) {
      width: 180px;
    }
    @include mq(sm) {
      width: 250px;
      margin: 0 auto;
    }
  }

  &--head {
    width: 300px;
    height: 200px;
    @include mq(lg) {
      width: 250px;
    }
    @include mq(md) {
      width: 180px;
    }
    @include mq(sm) {
      width: 250px;
    }

    & img {
      width: 300px;
      height: 200px;
      @include mq(lg) {
        width: 250px;
      }
      @include mq(md) {
        width: 180px;
      }
      @include mq(sm) {
        width: 250px;
      }
    }
  }

  &--body {
    padding-top: $space_l;
    line-height: 1.8;
  }
}