.p-matching {
  &--list {
    background-color: #fff;
    padding: $space_l;
    border-radius: 10px;
  }

  &--table {
    width: 100%;
  }

  &--head {
    border-bottom: 2px solid rgb(148, 146, 146);
  }

  &--body {
    border-bottom: 1px solid rgb(148, 146, 146);
  }

  &--scope {
    width: 20%;
    text-align: center;
    padding: $space_l;
  }

  &--offer {
    background-color: rgb(233, 199, 10);
    border-radius: 20px;
    margin-top: $space_l;
    padding: $space_s $space_xl;
    display: inline-block;
    &:hover {
      transition: 0.5s;
      color: rgb(238, 236, 234);
      background-color: rgb(230, 88, 6);
      border: none;
    }
  }

  &--line {
    padding: $space_l;
    text-align: center;
  }

  &--name {
    text-align: center;
  }

  &--status {
    text-align: center;
  }

  &--message {
    text-align: center;
    margin-bottom: $space_l;
    color: rgb(252, 252, 253);
    border: none;
    background-color: rgb(43, 167, 90);
    border-radius: 20px;
  }

  &--zoom {
    text-align: center;
    margin-bottom: 0;
    color: rgb(252, 252, 253);
    border: none;
    background-color: rgb(18, 73, 224);
    border-radius: 20px;
    margin-bottom: $space_l;
  }

  &--review {
    text-align: center;
    margin-bottom: 0;
    color: rgb(252, 252, 253);
    border: none;
    background-color: rgba(108, 117, 35, 0.966);
    border-radius: 20px;
  }

  &--link {
    display: block;
    color: #fff;
    padding: $space_s $space_l;
    &:hover {
      background-color: rgba(255, 255, 255, 0.705);
      color: #fff;
      transition: 0.5s;
      padding: $space_s $space_l;
      border-radius: 20px;
    }
  }

  &--date {
    margin-bottom: $space_l;
  }

  &--edit {
    margin-bottom: 0;
  }

  &--width {
    width: 150px;
    margin: $space_l auto;
  }
}