.p-member {

  &--layout {
    width: 70%;
    margin: 0 auto;
    @include mq(xl) {
      width: 50%;
    }
  }

  &--pt {
    padding-top: 50px;
  }

  &--other {
    color: $font-color_default;
    font-weight: bold;
    text-align: center;
    margin-bottom: $space_l;
  }

  &--border {
    border: none;
    border-radius: 10px;
    padding: $space_xl;
    background-color: #fff;
    color: #fff;
  }

  &--main {
    border: none;
    border-radius: 10px;
    padding: 60px 60px;
    background-color: rgba(11, 23, 185, 0.904);
  }

  &--top {
    text-align: center;
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  }

  &--image {
    text-align: center;
    margin-top: 100px;
  }

  &--name {
    font-weight: bold;
    margin-top: $space_m;
  }

  &--content {
    color: $font-color_black;
    border: none;
    border-radius: 10px;
    padding: $space_xl;
    background-color: #fff;
  }

  &--time {
    text-align: end;
    border-bottom: 2px solid rgb(148, 146, 146);
  }

  &--title {
    font-weight: bold;
  }
  &--body {
    padding: $space_l $space_l;
    line-height: 2.8;
  }

  &--tag {
    margin-bottom: $space_xxxl;
  }

  &--apply {
    text-align: center;
    
  }

}