.p-member {

  &--layout {
    width: 50%;
    margin: 0 auto;
  }

  &--pt {
    padding-top: 50px;
  }

  &--other {
    font-weight: bold;
    text-align: center;
    margin-bottom: $space_l;
  }

  &--border {
    border: none;
    border-radius: 10px;
    padding: $space_xl;
    background-color: #fff;
    color: #fff;
  }

  &--main {
    border: none;
    border-radius: 10px;
    padding: 60px 60px;
    background-color: rgb(214, 132, 25);
  }

  &--image {
    text-align: center;
    margin-top: 100px;
  }

  &--name {
    font-weight: bold;
    margin-top: $space_m;
  }

  &--content {
    border: none;
    border-radius: 10px;
    padding: $space_xl;
    background-color: #fff;
  }

  &--time {
    text-align: end;
    border-bottom: 2px solid rgb(148, 146, 146);
  }

  &--title {
    font-weight: bold;
  }
  &--body {
    padding: $space_l $space_l;
    line-height: 2.8;
  }

  &--tag {
    margin-bottom: $space_xxxl;
  }

  &--apply {
    text-align: center;
    
  }

}