.p-panel {

  &--box {
    width: 300px;
    margin-top: $space_xxl;
    margin-right: $space_xxl;
    border: none;
    background-color: white;
    padding-top: $space_m;
    padding-left: $space_l;
    padding-right: $space_l;
    padding-bottom: $space_l;
    border-radius: 20px;
    @include mq(lg) {
      width: 45%;
    }

    @include mq(md) {
      width: 45%;
    }

    @include mq(sm) {
      width: 100%;
      margin-top: 0;
      margin-bottom: $space_l;
      margin-right: 15px;
      margin-left: 15px;
    }

    &--Mypage {
      width: 45%;
      margin-top: $space_xxl;

      @include mq(sm) {
        width: 40%;
        margin-bottom: $space_l;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }

  &--area {
      text-align: center;;
    }

  &--image {
    text-align: center;
  }

  &--image img {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    object-fit: cover;

    @include mq(sm) {
      width: 150px;
      height: 150px;
    }
  }

  &--name {
    font-size: $font-size_l;
    font-weight: bold;
  }

  &--body {
    box-sizing: border-box;
    text-align: center;
  }

  &--content {
    display: flex;
    justify-content: space-between;
  }

  &--title {
    margin-top: $space_l;
    margin-bottom: $space_l;
    font-family: $font-family_sub02;

    @include mq(sm) {
      font-size: $font-size_m;
      overflow: hidden;
      width: 80px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  &--iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: $space_m;
    margin-bottom: $space_m;
  }

  &--heart {
    margin-right: $space_m;
    margin-top: $space_l;

    @include mq(sm) {
      margin-right: 0;
    }

    &--red {
      color: red;
    }
  }

  &--iconArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &--edit {
    margin-right: 0;
    @include mq(sm) {
      font-size: 24px;
    }

  }

  &--trash {
    display: inline-block;
    margin-bottom: 0;
    @include mq(sm) {
      font-size: $font-size_20;
    }

    &--button {
      border: none;
      background: none;
    }
  }

  &--snsTitle {
    text-align: center;
  }

  &--snsIcon {
    text-align: center;
  }
}