.p-profile {

  &--category {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $space_xl;
  }

  &--professional {
    width: 25%;
    margin-bottom: $space_m;
    @include mq(sm) {
      width: 150px;
    }
    &.locked {
      opacity: 0.75;
      color: #aaa;
    }
  }

  &--label {
    display: inline;
    width: 200px;
    
  }
}