.p-search {

  &--title {
    margin-right: $space_m;
    width: 200px;
  }

  &--select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--area {
    margin-right: 5%;
    width: 16%;
  }
}