.p-search {

  &--title {
    margin-right: $space_m;
    width: 200px;
  }

  &--select {
    
  }

  &--form {
    display: flex;
    align-items: center;
  }

  &--area {
    margin-right: 5%;
    // width: 16%;
  }
}